/*Estilos globais*/
QLabel {
  font-family: 'Poppins', sans-serif;
}

/*Estilos da barra de titulo*/
#titulo {
  color: #FFFFFF;
  font-size: 22px;
  margin-left: 12px;
}
            
#btnMin, #btnWid, #btnClose, #btnMenu {
  background-color: #070C27;
  color: #ACABAB;
  border: none;
}

#btnMenu {
  border-radius: 8px;
}
            
#btnMin:hover, #btnWid:hover, #btnMenu:hover {
  background-color: #b4befe;
}

#btnClose:hover {
  background-color: #b53836;
}

#btnMin:pressed, #btnWid:pressed, #btnClose:pressed {
  background-color: #74c7ec;
}

#barraTitulo {
  background-color: #070C27;
}

#btnMin {
  padding-bottom: 10px;
}

/*Estilos da sidebar*/
#btnConfig, #btnHistory {
  text-align: left;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

#btnCloseSidebar {
  border-radius: 20px;
  border: none;
}

#btnCloseSidebar:hover {
  background-color: #338C8A8A;
}

/*Estilos da home*/
#labelTitulo {
  font-size: 58px;
  margin-bottom: 2px;
}

#labelTexto {
  font-size: 22px;
  margin-top: 11px;
  margin-bottom: 150px;
}

#btnUpload {
  border-radius: 20px;
}

/*Estilo do settings*/
#settingsTitle {
  font-size: 24px;
  padding: 6px 0 6px 0;
}

Window[mode="maximized"] #settingsTitle {
  font-size: 28px;
}

#cardTitle {
  font-size: 14px;
}

Window[mode="maximized"] #cardTitle {
  font-size: 16px;
}

#cardDesc {
  font-weight: bold;
  font-size:14px;
}

Window[mode="maximized"] #cardDesc {
  font-size: 16px;
}

#btnDark, #btnLight, #btnSystem {
  padding: 6px;
  font-size: 12px;
  border-radius: 4px;
}

Window[mode="maximized"] #btnDark, Window[mode="maximized"] #btnLight, Window[mode="maximized"] #btnSystem {
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
}

#btnFast, #btnStandard, #btnDetailed {
  font-size: 12px;
  padding: 6px 0px 6px 0px;
  background-color: transparent;
}

#btnFast {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#btnDetailed {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

Window[mode="maximized"] #btnFast, Window[mode="maximized"] #btnStandard, Window[mode="maximized"] #btnDetailed {
  font-size: 16px;
}

#borderAnalise {
  border-radius: 12px;
}

Window[mode="maximized"] #borderAnalise {
  border-radius: 15px;
}

#borderAnalise

#indicatorAnalise {
  background-color: #62F59F;
}

QComboBox {
  background-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px;
}

#btnComma, #btnPoint {
  font-size: 12px;
  border-radius: 15px;
  padding: 6px;
}

Window[mode="maximized"] #btnComma, Window[mode="maximized"] #btnPoint {
  font-size: 16px;
  padding: 8px;
}

#btnBack {
  font-size: 14px;
  border-radius: 17px;
}

#settingsDiv {
  margin-left: 150px;
  margin-right: 150px;
}